*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.dropdown-menu{
    display: none; 
    border: 1px solid;
    border-top: 0;
    border-radius: 8px;
}
.dropdown-menu-item{
    text-align: center;
    margin-bottom: 3px;
    padding: 4px;
}
.dropdown-menu-item:hover{
    background-color: blueviolet;
    color: white;
}
.inputFieldHead{
    width: 100%;
    display: flex;
    gap: 3px;
    align-items: center;
    font-weight: 600;
}
#grossIncomeInfo,#extraIncomeInfo,#ageGroupInfo,#deductionsInfo{
    width: 15px;
}
.dropdownField{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.141);
}
.dropdown-select-btn{
    width: 15px;
}
form{ 
    box-shadow: 2px 2px 5px gray;
    width: 400px;
    padding-left: 20px;
    padding-right:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 8px;
    height: 60vh;
}
input{
    width: 94%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.237);
}
.thirdInput{
    border: none;
    background-color: transparent;
}
.submitBtn{
    color: white;
    background: blueviolet;
    border: none;
    font-size: larger;
    padding: 8px;
    border-radius: 8px;
}
.grossIncomeError,.extraIncomeError,.ageGroupError,.deductionsError{
    display: none;
    color: red;
}